<div class="container-fluid px-4">
    <h1 class="mt-4">Students List</h1>
    <div class="card mb-4">
      <div class="card-body">
        <div class="row" style="margin-bottom:10px;">
          <div class="col-sm-12 col-xs-12">
           <div class="col-md-2">
              <a href="<%= new_student_path %>" data-title="Compose" class="btn btn-primary" style="color: #fff;">+Add</a>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <!-- BEGIN TABLE -->
              <%= render partial: "students/list" %>
              <%= paginate @students %>
              <!-- END TABLE -->
            </div>
        </div>
      </div>
    </div>
</div>
