<nav class="sb-topnav navbar mb-4 navbar navbar-expand-lg navbar-dark cyan sticky-top">
    <a class="navbar-brand font-bold" href="<%= root_path %>">Emeritus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="#" class="nav-link">Login As: <%= current_user.type %></a></li>
            <li class="nav-item">
                <%= link_to '<i class="fa-solid fa-right-from-bracket"></i> Log out'.html_safe, destroy_user_session_path, method: :delete, class: "nav-link" %>
                <%# <a class="nav-link" href="#"><i class="fa fa-envelope"></i> Contact <span class="sr-only">(current)</span></a> %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <%=current_user.name%> </a>
            </li>
        </ul>
    </div>
</nav>
