<div class="container-fluid px-4">
    <h1 class="mt-4">Create School Admin</h1>
    <div class="card mb-4">
      <div class="card-body">
        <%= render partial: "school_admins/form" %>
      </div>
    </div>
</div>
