<div class="container-fluid px-4">
    <h1 class="mt-4">Update School</h1>
    <div class="card mb-4">
      <div class="card-body">
        <%= render partial: "schools/form" %>
      </div>
    </div>
</div>
